@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e0137;
}

/* @layer components{
    .btn{
        @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
    }
    .btn-primary{
        @apply bg-[#37078C] text-white;
    }
    .btn-text{
        @apply text-black bg-transparent;
    }
} */

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }
  .btn-primary {
    @apply bg-[#14144E] text-white;
  }
  .btn-text {
    @apply text-white bg-transparent;
  }
  .logo-ticker-image {
    @apply h-8 w-auto;
  }
  .tag {
    @apply text-sm inline-flex border text-white border-[#4C7CA3]/50 px-3 py-1 rounded-lg tracking-tight;
  }
  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter text-white;
  }
  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-white;
  }
  .section-heading {
    @apply max-w-[540px] mx-auto;
  }
}

.glass-effect {
  backdrop-filter: blur(10px);
}

.glass-placeholder {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.spline-waves {
  width: 100%;
  height: 300px; /* Adjust height as needed */
  position: relative; /* Adjust this if you need absolute positioning */
  overflow: hidden; /* Hide any overflow if needed */
}